{% extends 'base.html' %}

{% block content %}

<h1>Setup</h1>

{% include('flashed_messages.html') %}

<form action="/setup" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <details open>
        <summary>Usage settings</summary>

        <section class="setup">
            <div class="setup-item">
                <h3>Model's lang</h3>
                <p>In which language the model is expected to answer ?</p>
            </div>
            <div class="setup-field">
                <select name="llm_lang">
                    <option value="French"{%if config['LLM_LANG'] == 'French'%} selected{%endif%}>French</option>
                    <option value="English"{%if config['LLM_LANG'] == 'English'%} selected{%endif%}>English</option>
                </select>
            </div>
        </section>

        <section class="setup">
            <div class="setup-item">
                <h3>Writing Assistant System prompt</h3>
                <p>System prompt at the beginning of the conversation with the model for the Writing Assistant utiity. Contextualize its behavior and expectations.</p>
            </div>
            <div class="setup-field">
                <textarea name="llm_assistant_system_prompt" placeholder="Insert your system prompt here...">{{ config['LLM_ASSISTANT_SYSTEM_PROMPT'] }}</textarea>
            </div>
        </section>

        <section class="setup">
            <div class="setup-item">
                <h3>Assistant Model profile</h3>
                <p>Define the model's creativity. Standard is recommended, but Creative can provide more interesting propositions. Strict is unadvised.</p>
            </div>
            <div class="setup-field">
                <label><input type="radio" name="llm_assistant_model_profile" value="creative" {%if config['LLM_ASSISTANT_MODEL_PROFILE'] == 'creative' %}checked{%endif%} /> Creative</label><br>
                <label><input type="radio" name="llm_assistant_model_profile" value="standard" {%if config['LLM_ASSISTANT_MODEL_PROFILE'] == 'standard' %}checked{%endif%} /> Standard</label><br>
                <label><input type="radio" name="llm_assistant_model_profile" value="strict" {%if config['LLM_ASSISTANT_MODEL_PROFILE'] == 'strict' %}checked{%endif%} /> Strict</label>
            </div>

        </section>

        <section class="setup">
            <div class="setup-item">
                <h3>Reviewer System prompt</h3>
                <p>System prompt at the beginning of the conversation with the model for the Review utiity. Contextualize its behavior and expectations.</p>
            </div>
            <div class="setup-field">
                <textarea name="llm_reviewer_system_prompt" placeholder="Insert your system prompt here...">{{ config['LLM_REVIEWER_SYSTEM_PROMPT'] }}</textarea>
            </div>
        </section>

        <section class="setup">
            <div class="setup-item">
                <h3>Reviewer Model profile</h3>
                <p>Define the model's creativity. Standard is recommended.</p>
            </div>
            <div class="setup-field">
                <label><input type="radio" name="llm_reviewer_model_profile" value="creative" {%if config['LLM_REVIEWER_MODEL_PROFILE'] == 'creative' %}checked{%endif%} /> Creative</label><br>
                <label><input type="radio" name="llm_reviewer_model_profile" value="standard" {%if config['LLM_REVIEWER_MODEL_PROFILE'] == 'standard' %}checked{%endif%} /> Standard</label><br>
                <label><input type="radio" name="llm_reviewer_model_profile" value="strict" {%if config['LLM_REVIEWER_MODEL_PROFILE'] == 'strict' %}checked{%endif%} /> Strict</label>
            </div>

        </section>

        <section class="setup">
            <div class="setup-item">
                <h3>Translator System prompt</h3>
                <p>System prompt at the beginning of the conversation with the model for the Translator utiity. Contextualize its behavior and expectations.</p>
            </div>
            <div class="setup-field">
                <textarea name="llm_translator_system_prompt" placeholder="Insert your system prompt here...">{{ config['LLM_TRANSLATOR_SYSTEM_PROMPT'] }}</textarea>
            </div>
        </section>

        <section class="setup">
            <div class="setup-item">
                <h3>Translator Model profile</h3>
                <p>Define the model's creativity. Strict is recommended.</p>
            </div>
            <div class="setup-field">
                <label><input type="radio" name="llm_translator_model_profile" value="creative" {%if config['LLM_TRANSLATOR_MODEL_PROFILE'] == 'creative' %}checked{%endif%} /> Creative</label><br>
                <label><input type="radio" name="llm_translator_model_profile" value="standard" {%if config['LLM_TRANSLATOR_MODEL_PROFILE'] == 'standard' %}checked{%endif%} /> Standard</label><br>
                <label><input type="radio" name="llm_translator_model_profile" value="strict" {%if config['LLM_TRANSLATOR_MODEL_PROFILE'] == 'strict' %}checked{%endif%} /> Strict</label>
            </div>

        </section>


    </details>

    <details open>
        <summary>API settings</summary>
        <section class="setup">
            <div class="setup-item">
                <h3>API Base URL</h3>
                <p>The base URL to access the LLM API.</p>
            </div>
            <div class="setup-field">
                <input type="text" name="llm_api_base_url" value="{{ config['LLM_API_BASE_URL'] }}" />
            </div>

        </section>
        <section class="setup">
            <div class="setup-item">
                <h3>Product ID</h3>
                <p>The Product ID of you LLM API access.</p>
            </div>
            <div class="setup-field">
                <input type="number" name="llm_product_id" value="{{ config['LLM_PRODUCT_ID'] }}" />
            </div>

        </section>

        <section class="setup">
            <div class="setup-item">
                <h3>Access token</h3>
                <p>The access token for the API request. Paste a new one to replace the previous.</p>
            </div>
            <div class="setup-field">
                <input type="password" name="llm_access_token" />
            </div>

        </section>
    </details>

    <details open>
        <summary>Advanced API settings</summary>
        <section class="setup">
            <div class="setup-item">
                <h3>Max tokens per output</h3>
                <p>Restricts how much tokens the model will produce during response.</p>
            </div>
            <div class="setup-field">
                <input type="number" name="llm_max_output_tokens" min="1" max="5000" value="{{ config['LLM_MAX_TOKENS_PER_OUTPUT'] }}" />
            </div>

        </section>

        <section class="setup">
            <div class="setup-item">
                <h3>Request timemout</h3>
                <p>How much time the process will wait for API response in seconds. Default is 60 seconds.</p>
            </div>
            <div class="setup-field">
                <input type="number" name="llm_request_timeout" min="30" max="90" value="{{ config['LLM_REQUEST_TIMEOUT'] }}" />
            </div>
        </section>

        <section class="setup">
            <div class="setup-item">
                <h3>Cost for input tokens</h3>
                <p>How much is the cost per 10k tokens for the model usage. Used for estimate calculation.</p>
            </div>
            <div class="setup-field">
                <input type="number" name="llm_cost_per_10k_token_input" value="{{ config['LLM_COST_PER_10K_TOKEN_INPUT'] }}" /> € / 10 000 tokens.
            </div>
        </section>

        <section class="setup">
            <div class="setup-item">
                <h3>Cost for ouput tokens</h3>
                <p>How much is the cost per 10k tokens generated by the model. Used for estimate calculation.</p>
            </div>
            <div class="setup-field">
                <input type="number" name="llm_cost_per_10k_token_ouput" value="{{ config['LLM_COST_PER_10K_TOKEN_OUTPUT'] }}" /> € / 10 000 tokens.
            </div>
        </section>

    </details>

    <section class="setup">
        <input type="submit" name="llm_save_settings" value="Save settings" />
    </section>

</form>
{% endblock %}